{% extends 'CrisisTextLineUserProfileBundle::adminBase.html.twig' %}

{% block userprofiles %}
    <h1>UserProfileField creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_profile_field') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
