{% extends 'CrisisTextLineUserProfileBundle::base.html.twig' %}

{% block userprofiles %}
    <h1>UserProfile edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('user_profile_show', {id: entity.user.id}) }}">
                Cancel
            </a>
        </li>
    </ul>
{% endblock %}
