{% extends 'CrisisTextLineUserProfileBundle::base.html.twig' %}

{% block userprofiles %}
    <h1>UserProfile</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Time Created</th>
                <td>{{ entity.timeCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Last Edited</th>
                <td>{{ entity.timeLastEdited|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user_profile_edit', { 'id': entity.user.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
